/comparison_era5_meteor_ssts.pdf
/fig04_animation
/ABI_comparison_ICON_GOES16.mp4
/Patterns_manualClassifications_mostCommon.pdf
/Meteor_vs_Simulation_sst-skin.pdf
/Meteor_vs_Simulation_rh.pdf
/Meteor_vs_Simulation_wspd.pdf
/Meteor_vs_Simulation_temperature.pdf
/fig09
/cloud_cover_scatter_nohighclouds_and_highclouds.pdf
/FIG_CC_timeseries_\['exp2.dom1', 'exp2.dom2', 'exp2.dom3'\]_dom03_timeslice.pdf
/FIG_CC_brightness_temperature_\['exp2.dom1', 'exp2.dom2'\].pdf
/FIG_CC_timeseries_\['exp2.dom1', 'exp2.dom2'\].pdf
/FIG_CC_diurnalcycle_anomaly_GOES16_ICON-312m_ICON-624m_ICON-156m.pdf
/FIG_CC_timeseries_exp2.dom1_exp2.dom2.pdf
/FIG_CC_timeseries_exp2.dom1_exp2.dom2_exp2.dom3_dom03_timeslice.pdf
/FIG_CC_brightness_temperature_exp2.dom1_exp2.dom2.pdf
/FIG_CF_profile_1D-variability_totals_control_err-True.pdf
/echofraction_distribution_combined.pdf
/Cloudfraction_dependency_on_v_comparison.pdf
/Cloudfraction_dependency_on_T_comparison.pdf
/Cloudfraction_dependency_on_PW_comparison.pdf
/Cloudfraction_dependency_on_LTS_comparison.pdf
/netTOA_scatter_obs_vs_dom02.html
/Daily_netTOA_obs_vs_sim_dom02.pdf
/cre_scatter_obs_vs_dom02.html
/Daily_CRE_anomaly_obs_vs_sim_dom02.pdf
/area_selected_for_tradewind_BL_statistics.pdf
/profiles_3D_cf_DOM02_(13.3, -57.717)+1_mean.pdf
/profiles_3D_θₗ_DOM02_(13.3, -57.717)+1_mean.pdf
/profiles_3D_wspd_DOM02_(13.3, -57.717)+1_mean.pdf
/profiles_3D_qt_DOM02_(13.3, -57.717)+1_mean.pdf
/profiles_3D_qc_DOM02_(13.3, -57.717)+1_mean.pdf
/Pattern_area_fraction_scatter.png
/Comparison_NN_mean_diff_to_obs_expexp2.dom1-exp2.dom2.pdf
/FIG_CF_profile_1D-variability_groupedbyPattern_control_err-True_withoutTotal.pdf
/echofraction_scatter_obs_vs_dom02_with_err.pdf
/daily_echo_fraction_anomaly_timeseries@300m_ICON312m+OBS.pdf
/Pattern_area_fraction_scatter.pdf
/cloud_cover_scatter_nohighclouds.pdf
